@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-XLt.eot');
	src:	url('./fonts/UPSBerlingskeSans-XLt.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-XLt.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-XLt.woff')format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-XLtIt.eot');
	src:	url('./fonts/UPSBerlingskeSans-XLtIt.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-XLtIt.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-XLtIt.woff')format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-Rg.eot');
	src:	url('./fonts/UPSBerlingskeSans-Rg.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-Rg.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-Rg.woff')format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-It.eot');
	src:	url('./fonts/UPSBerlingskeSans-It.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-It.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-It.woff')format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-Md.eot');
	src:	url('./fonts/UPSBerlingskeSans-Md.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-Md.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-Md.woff')format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-MdIt.eot');
	src:	url('./fonts/UPSBerlingskeSans-MdIt.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-MdIt.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-MdIt.woff')format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-Bd.eot');
	src:	url('./fonts/UPSBerlingskeSans-Bd.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-Bd.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-Bd.woff')format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-BdIt.eot');
	src:	url('./fonts/UPSBerlingskeSans-BdIt.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-BdIt.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-BdIt.woff')format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-XBd.eot');
	src:	url('./fonts/UPSBerlingskeSans-XBd.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-XBd.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-XBd.woff')format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family:'UPS Berlingske Sans';
	src:	url('./fonts/UPSBerlingskeSans-XBdIt.eot');
	src:	url('./fonts/UPSBerlingskeSans-XBdIt.eot?#iefix')format('embedded-opentype'),
			url('./fonts/UPSBerlingskeSans-XBdIt.woff2')format('woff2'),
			url('./fonts/UPSBerlingskeSans-XBdIt.woff')format('woff');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family:'UPS Berlingske Sans Lt';
	src:	url('./fonts/UPSBerlingskeSansCn-Rg.otf');
}
