* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "UPS Berlingske Sans";
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

h3 {
  font-weight: 100;
}

#header {
  width: 100%;
  padding: 10px 0px;
  background: url('../assets/header.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 25px;
  transition: all 500ms ease;

  display: flex;
  flex-direction: column;
  flex: 0 1 12.5%;
}

#header .row {
  margin-left: 0;
  margin-right: 0;
}

#header h1 {
  margin: 0px;
  font-size: 60px;
}

#weather {
  transition: all 1s ease !important;
}

.temp:after {
  content: '°';
}

#welcome_info {
  margin-top: 25px;
}

#logo img {
  height: 100%;
  max-height: 100px;
}

#body {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex: 2 0;
}

#inner-wrapper {
  height: 100%;
}

#agenda {
  height: 55%;
  overflow: auto;
  font-size: 1.5em;
}

.dark-blue {
  color: #243671;
}

.agenda-item {
  margin: 15px auto;
  cursor: pointer;
}

.agenda-name {
  font-weight: bold;
}

.agenda-desc {
  cursor: pointer;
  color: #99bfed;
}

.signage-map {
  width: 100%;
}

.signage-map img {
  width: 100%;
}

#agenda-date-nav {
  margin-bottom: 1em;
}

.agenda-date {
  margin: 0 1em;
  font-size: 1.3em;
}

.date-nav-arrow {
  opacity: 0;
  cursor: pointer;
  color: #243671;
  font-size: 1.3em;
}

#conference_map {
  color: #fff;
  font-size: 60px;
  background: url('../assets/footer.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.stream-wrapper {
  height: 100%;
}

.recents-wrapper {
  height: calc(12% - 20px);
}

#recent_photos {
  height: calc(100% - 55% - 60px - 2em);
  overflow: hidden;
  margin-top: 2em;
  font-size: 1.5em;
}

/*
#stream {
  height: 100%;  
  overflow: scroll;
  padding-bottom: 6%;
}

#your-stream {
  height: 100%;  
  overflow: scroll;
  padding-bottom: 6%;
}
*/

#streams {
  height: 88%;  
  width: 110%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#your-photos {
  display: none;
}

.single-photo {
  display: inline-block;
  margin-right: 1em;
  width: 16.7%;
}

.single-photo img {
  width: 100%;
}

#footer {
  /* min-height: 15%; */
  padding: 10px 0px;
  background: url('../assets/footer.png');
  background-size: 100% 100%;
  width: 100%;
  color: #fff;
  /* weight: normal; */

  display: flex;
  flex-direction: column;
  flex: 0 1 10%;
  position: relative;
}

.loading {
    margin-top: 0.75em;
}

#connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.connect-button, .disconnect-button {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: .5em 1em;
  font-size: 1.5em;
  /* border-radius: 10px; */
  background-color: #ffffff;
  color: #243671;
}

.cancel-button {
  display: inline-block;
  padding: 0 1em;
  font-size: 1.3em;
  text-decoration: underline;
}

.animated-arrows img {
  width: 100%;
}

.animated-arrows {
  width: 112px;
  margin: 1em;
}

.bluetooth-notice {
  padding: 0;
  font-weight: 400;
  font-size: 1.4em;
}

/* modal */

.modal {
  background: rgba(0, 0, 0, .5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.modal-content {
    min-width: 400px;
}

.schedule-item-details {
  padding: 1em 2em;
  font-size: 1.5em;
}

.photo-item-tags {
  padding: 1em 2em;
  font-size: 1.5em;
}

.schedule-item-location {
  margin-bottom: 0em;
}

.close-button-wrapper {
  background: #243671;
  text-align: center;
  padding: 1em;
}

.close-button {
  color: #ffffff;
  font-size: 1.6em;
  padding: .5em 1em;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  background-color: #ffffff;
  color: #243671;
}

.maps {
  margin: 2em;
}

.maps img {
  width: 100%;
}

.photo {
  margin: 0 2em;
}

.photo img {
  width: 100%;
}

/* footer bounce */

/* #footer img { */
  /* height: 100%; */
  /* max-height: 50px; */
  /* margin-top: 25px; */
/* } */

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* loading dots */

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: .25em 0 0 white, .5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: .25em 0 0 white, .5em 0 0 white;
  }
}
